In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import boto3
import io
from datetime import date

In [4]:
pd.set_option('display.max_columns', None)

bucketname = 'lems-spot-geodata-dev'
data_folder = 'data/raw'
s3 = boto3.resource('s3')
bucket = s3.Bucket(bucketname)
today = str(date.today())
print(today)
directory_name = today
prefix_objs = bucket.objects.filter(Prefix=f"{data_folder}/{directory_name}/denue")
print(prefix_objs)

prefix_df = []

for obj in prefix_objs:
    key = obj.key
    body = obj.get()['Body'].read()
    print(f'Reading {key}')
    temp = pd.read_csv(io.BytesIO(body), encoding='ISO-8859-1', low_memory=False)
    prefix_df.append(temp)
    
df = pd.concat(prefix_df)
del prefix_df
df.info()

2022-05-25
s3.Bucket.objectsCollection(s3.Bucket(name='lems-spot-geodata-dev'), s3.ObjectSummary)
Reading data/raw/2022-05-25/denue_1.csv
Reading data/raw/2022-05-25/denue_2.csv
Reading data/raw/2022-05-25/denue_3.csv
Reading data/raw/2022-05-25/denue_4.csv
Reading data/raw/2022-05-25/denue_5.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2403696 entries, 0 to 167626
Data columns (total 42 columns):
 #   Column      Dtype
---  ------      -----
 0   id          int64
 1   clee        object
 2   nom_estab   object
 3   raz_social  object
 4   codigo_act  int64
 5   nombre_act  object
 6   per_ocu     object
 7   tipo_vial   object
 8   nom_vial    object
 9   tipo_v_e_1  object
 10  nom_v_e_1   object
 11  tipo_v_e_2  object
 12  nom_v_e_2   object
 13  tipo_v_e_3  object
 14  nom_v_e_3   object
 15  numero_ext  float64
 16  letra_ext   object
 17  edificio    object
 18  edificio_e  object
 19  numero_int  float64
 20  letra_int   object
 21  tipo_asent  object
 22  nomb_asent  object
 23  tipoCenCom  object
 24  nom_CenCom  object
 25  num_local   object
 26  cod_postal  float64
 27  cve_ent     int64
 28  entidad     object
 29  cve_mun     int64
 30  municipio   object
 31  cve_loc     int64
 32  localidad   object
 33  ageb        object
 34  manzana     int64
 35  telefono    object
 36  correoelec  object
 37  www         object
 38  tipoUniEco  object
 39  latitud     float64
 40  longitud    float64
 41  fecha_alta  object
dtypes: float64(5), int64(6), object(31)
memory usage: 788.6+ MB

In [5]:
df = df.drop(columns=['clee', 'raz_social', 'codigo_act', 'nombre_act', 'tipo_v_e_1', 'nom_v_e_1', 'tipo_v_e_2', 'nom_v_e_2', 'tipo_v_e_3', 'nom_v_e_3', 'edificio', 'edificio_e', 'ageb', 'manzana', 'tipoUniEco', 'cve_mun', 'cve_ent', 'cve_loc'])
df.head()

,id,nom_estab,per_ocu,tipo_vial,nom_vial,numero_ext,letra_ext,numero_int,letra_int,tipo_asent,nomb_asent,tipoCenCom,nom_CenCom,num_local,cod_postal,entidad,municipio,localidad,telefono,correoelec,www,latitud,longitud,fecha_alta
0,45602,AABARROTES LOS PINOS,0 a 5 personas,CALLE,SIERRA DE LA GAVIA,221.0,NaN,NaN,NaN,FRACCIONAMIENTO,LAS CUMBRES,NaN,NaN,NaN,20175.0,Aguascalientes,Aguascalientes,Aguascalientes ...,NaN,NaN,NaN,21.911178,-102.256462,2014-12
1,9340534,ABAROTES ESCOBEDO,0 a 5 personas,CALLE,ING. MIGUEL ANGEL BARBERENA VEGA,518.0,NaN,NaN,NaN,FRACCIONAMIENTO,MUNICIPIO LIBRE,NaN,NaN,NaN,NaN,Aguascalientes,Aguascalientes,Aguascalientes ...,NaN,NaN,NaN,21.895504,-102.266840,2021-05
2,35543,ABAROTES MARCOS,0 a 5 personas,CALLE,SARGENTO LIBERATO SANTA CRUZ,604.0,NaN,NaN,NaN,COLONIA,GREMIAL,NaN,NaN,NaN,20030.0,Aguascalientes,Aguascalientes,Aguascalientes ...,NaN,NaN,NaN,21.893444,-102.291618,2014-12
3,20536,ABAROTES MORALES,0 a 5 personas,CALLE,COSIO SUR,117.0,NaN,0.0,NaN,COLONIA,ZONA CENTRO,NaN,NaN,NaN,20000.0,Aguascalientes,Aguascalientes,Aguascalientes ...,4499154508,NaN,NaN,21.881855,-102.286655,2010-07
4,8797198,ABAROTES ROQUE CORDOVA,0 a 5 personas,CALLE,PIÑA,106.0,1,NaN,NaN,LOCALIDAD,CANADA GRANDE DE COTORINA,NaN,NaN,NaN,20394.0,Aguascalientes,Aguascalientes,Cañada Grande de Cotorina ...,NaN,NaN,NaN,21.782423,-102.237041,2019-11

In [6]:
df = df.fillna('')

In [7]:
s3 = boto3.client("s3")
bucketname = 'lems-spot-geodata-dev'
data_folder = 'data/output'

In [8]:
today = str(date.today())
print(today)
directory_name = today
s3.put_object(Bucket=bucketname, Key=(f'{data_folder}/'+directory_name+'/'))

2022-05-25

{'ResponseMetadata': {'RequestId': 'CP4M06YSP60E16Z0',
  'HostId': 'nQYVKwod5NfR7/EaaVHB7SKLoM+IcS3qQ4RCvljTsRmjotS13dmCCpIgls8OMVLTIdds41nDb3g=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'nQYVKwod5NfR7/EaaVHB7SKLoM+IcS3qQ4RCvljTsRmjotS13dmCCpIgls8OMVLTIdds41nDb3g=',
   'x-amz-request-id': 'CP4M06YSP60E16Z0',
   'date': 'Wed, 25 May 2022 01:31:15 GMT',
   'etag': '"d41d8cd98f00b204e9800998ecf8427e"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"d41d8cd98f00b204e9800998ecf8427e"'}

In [9]:
df.to_csv(f"s3://{bucketname}/{data_folder}/{directory_name}/denue.csv", index=False)

In [10]:
# Create Redshift client
redshift = boto3.client(
    "redshift",
    region_name = "us-east-1"
)

In [11]:
import boto3

# Create IAM client for region us-east-1 feeding AWS credentials extracted from the config.json file
iam = boto3.client(
    "iam",
    region_name = "us-east-1")

In [12]:
import boto3
import json

role_name = "DataEngineer"

# Create IAM client for region us-east-1 feeding AWS credentials extracted from the config.json file
iam = boto3.client(
    "iam",
    region_name = "us-east-1")

# Try to delete the existing role with the same name, if exists
try:
    role = iam.get_role(
        RoleName = role_name
    )
    print("Role named '{}' already exists".format(role_name))

    # Extract all the attached policies to the existing role
    attached_policies = iam.list_attached_role_policies(
        RoleName = role_name
    )[
        "AttachedPolicies"
    ]


    # Iterate over all attached policies
    for attached_policy in attached_policies:

        # Extract attached policy ARN
        attached_policy_arn = attached_policy[
            "PolicyArn"
        ]

        # Detach policy from role
        iam.detach_role_policy(
            RoleName = role_name,
            PolicyArn = attached_policy_arn
        )

    # Delete role
    try:
        delete_role = iam.delete_role(
            RoleName = role_name
        )
        print("Role named '{}' has been deleted".format(role_name))

    except Exception as e:
        print(str(e))
        
except Exception as e:
    print(str(e))

# Create IAM role
try:
    role = iam.create_role(
        RoleName = role_name,
        Description = "Allows Redshift cluster to call AWS services on behalf of the user",
        AssumeRolePolicyDocument = json.dumps(
            {
                "Statement": [
                    {
                        "Action": "sts:AssumeRole",
                        "Effect": "Allow",
                        "Principal": {
                            "Service": "redshift.amazonaws.com"
                        }
                     }
                ],
                "Version": "2012-10-17"
            }
        )
    )
    print("Role named '{}' has been created".format(role_name))

except Exception as e:
    print(str(e))

Role named 'DataEngineer' already exists
An error occurred (DeleteConflict) when calling the DeleteRole operation: Cannot delete entity, must delete policies first.
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name DataEngineer already exists.

In [13]:
# Extract role ARN
role_arn = iam.get_role(
    RoleName = role_name
)["Role"]["Arn"]
print("Role {}'s ARN is: {}".format(role_name, role_arn))

Role DataEngineer's ARN is: arn:aws:iam::157310664496:role/DataEngineer

In [14]:
# Check if policy with the wanted name already exists
policy_name = "policy_new"
try:
    policies = iam.list_policies()["Policies"]
    policy_exists = False
    for policy in policies:
        if policy["PolicyName"] == policy_name:
            existing_policy_arn = policy["Arn"]
            policy_exists = True
            break          
except:
    None

# If a policy with the same name already exists, delete it
if policy_exists:
    print("Policy named '{}' already exists".format(policy_name))
    
    # Extract all roles
    roles = iam.list_roles()["Roles"]
    
    # Iterate over all the roles
    for role in roles:
        
        # Extract role name
        existing_role_name = role["RoleName"]
        
        # Extract all the attached policy to the role
        attached_policies = iam.list_attached_role_policies(
            RoleName = existing_role_name
        )["AttachedPolicies"]
        
        # Iterate over all the attached policies
        for attached_policy in attached_policies:

            # Extract attached policy ARN
            attached_policy_arn = attached_policy["PolicyArn"]

            # Checking if the policy correspond to the wanted one
            if attached_policy_arn == existing_policy_arn:
                
                # Detach policy from role
                iam.detach_role_policy(
                    RoleName = existing_role_name,
                    PolicyArn = attached_policy_arn
                )
                
                print("Policy with ARN '{}' detached from role '{}'".format(policy_arn, existing_role_name))
    
    # Extract all the policy versions
    policy_versions = iam.list_policy_versions(
        PolicyArn = existing_policy_arn
    )["Versions"]
    
    # Iterate over all the policy versions
    for policy_version in policy_versions:
        
        # Skip the version if it is a default version
        if policy_version["IsDefaultVersion"]:
            continue
          
        # Extract policy ID
        version_id = policy_version["VersionId"]
        
        # Delete policy version
        iam.delete_policy_version(
            PolicyArn = existing_policy_arn,
            VersionId = version_id
        )
        print("Policy with ARN '{}', version_ID '{}' deleted".format(existing_policy_arn, version_id))
    
    # Delete default version of the policy
    iam.delete_policy(
        PolicyArn = existing_policy_arn
    )
    print("Policy with ARN '{}' deleted".format(existing_policy_arn))
    
else:
    print("Policy named '{}' does not exists".format(policy_name))
 
# Create policy 
try:
    policy = iam.create_policy(
        PolicyName = policy_name,
        Description = "Allow to list and access content of the target bucket 'data-to-migrate'",
        PolicyDocument = json.dumps(
            {
                "Version": "2012-10-17",
                "Statement": [
                    {
                        "Effect": "Allow",
                        "Action": [
                            "s3:ListBucket"
                        ],
                        "Resource": [
                            "arn:aws:s3:::data-to-migrate"
                        ]
                    },
                    {
                        "Effect": "Allow",
                        "Action": [
                            "s3:PutObject",
                            "s3:GetObject",
                            "s3:DeleteObject"
                        ],
                        "Resource": [
                            "arn:aws:s3:::data-to-migrate/*"
                        ]
                    }
                ]
            }
        )
    )
    print("Policy named '{}' created".format(policy_name))
    policy_arn = policy["Policy"]["Arn"]
    print("Policy named '{}' has ARN '{}'".format(policy_name, policy_arn))
except Exception as e:
    print(str(e))

Policy named 'policy_new' already exists
Policy with ARN 'arn:aws:iam::157310664496:policy/policy_new' deleted
Policy named 'policy_new' created
Policy named 'policy_new' has ARN 'arn:aws:iam::157310664496:policy/policy_new'

In [15]:
# Attach policy to IAM role
try:
    attachment = iam.attach_role_policy(
        RoleName = role_name,
        PolicyArn = policy_arn
    )
    print("Policy named {} attached to role {}".format(policy_name, role_name))
except Exception as e:
    print(str(e))

Policy named policy_new attached to role DataEngineer

In [23]:
cluster_identifier = "redshift-cluster-geodata"
cluster_type       = "single-node" 
node_type          = "dc2.large"
username           = "awsuser"
password           = "Passw0rd"
database_name      = "dev-geodata"
port               = 5439
redshift_endpoint  = "redshift-cluster-geodata.ch3hvj0f1a3k.us-east-1.redshift.amazonaws.com"
cluster_endpoint   = "redshift-cluster-geodata.ch3hvj0f1a3k.us-east-1.redshift.amazonaws.com"

In [ ]:
# Delete Redshift cluster with the same name if it exists
   
try:
    # Delete Cluster
    redshift.delete_cluster(
        ClusterIdentifier = cluster_identifier,
        SkipFinalClusterSnapshot = True,
    )

    print("A cluster named '{}' already exists".format(cluster_identifier))
    print("Deleting existing cluster named '{}'...".format(cluster_identifier))


    # Wait for the cluster status change to deleted
    delete_waiter = redshift.get_waiter("cluster_deleted")
    delete_waiter.wait(
        ClusterIdentifier = cluster_identifier,
        WaiterConfig = {
            "Delay": 30,
            "MaxAttempts": 20
        }
    )

    print("Existing cluster named '{}' deleted".format(cluster_identifier))

except:
    print("A cluster named '{}' does not exist".format(cluster_identifier))  


# Create Redshift cluster
try:
    cluster = redshift.create_cluster(
        DBName = database_name, # (OPT) name of the first database to create when the cluster is created
        ClusterIdentifier = cluster_identifier, # (REQ) name of the cluster
        ClusterType = cluster_type, # (OPT) singlenode vs multinode
        NodeType = node_type, # (REQ) type of node
        MasterUsername = username, # (REQ) username
        MasterUserPassword = password, # (REQ) password
        Port = port, # port number on which the cluster accepts inbound connections
        IamRoles = [role_arn] # list of role Arns defining how Redshift can access other AWS services
    )

except Exception as e:
    print(e)

print("Creating new cluster named '{}'...".format(cluster_identifier))

# Wait for the new cluster status change to available
create_waiter = redshift.get_waiter("cluster_available")
create_waiter.wait(
        ClusterIdentifier = cluster_identifier,
        WaiterConfig = {
            "Delay": 30,
            "MaxAttempts": 20
        }
    )

print("New cluster named '{}' created and available".format(cluster_identifier))

# Extract cluster info
clusters = redshift.describe_clusters(
        ClusterIdentifier = cluster_identifier
    )["Clusters"]

for cluster in clusters:
    if cluster["ClusterIdentifier"] ==  cluster_identifier:
        break

cluster_endpoint = cluster["Endpoint"]["Address"]
vpc_security_group_id = cluster["VpcSecurityGroups"][0]["VpcSecurityGroupsId"]

print("Cluster '{}' endpoint is '{}'").format(cluster_identifier, cluster_endpoint)
print("Cluster '{}''s VPC security group ID is '{}'").format(cluster_identifier, vpc_security_group_id)

Cluster '{}' endpoint is '{}'

AttributeError: 'NoneType' object has no attribute 'format'

In [ ]:
# Set a VPC security group rule to authorize ingress to the cluster's VPC Security Group
vpc_security_group_id = "sg-0d9ad589427fc57d3"
try:
    # Define EC2 resource
    ec2 = boto3.resource(
        "ec2",
        region_name = "us-east-1"    )

    # Extract security group for the VPC
    vpc_sg = ec2.SecurityGroup(id = vpc_security_group_id)
    
    # Authorize connection to the VPC
    vpc_sg.authorize_ingress(
        GroupName = vpc_sg.group_name,
        CidrIp = "0.0.0.0/0",
        IpProtocol = "TCP",
        FromPort = 5439,
        ToPort = 5439
    )
    print("Ingress to the VPC authorized")
    
except Exception as e:
    
    # Check if the error is a duplication error
    if "InvalidPermission.Duplicate" in str(e):
        print("Rule requested already exists")
    else:
        print(e)

In [17]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.7/site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /opt/conda/lib/python3.7/site-packages (from ipython-sql) (7.32.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.7/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: prettytable<1 in /opt/conda/lib/python3.7/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/lib/python3.7/site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.7/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.7/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.7/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: importlib-metadata in /opt/conda/lib/python3.7/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.11.3)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (4.2.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 22.0.4; however, version 22.1.1 is available.
You should consider upgrading via the '/opt/conda/bin/python -m pip install --upgrade pip' command.

In [18]:
cluster_endpoint

NameError: name 'cluster_endpoint' is not defined

In [24]:
import psycopg2
# Define connection string
%load_ext sql
conn_string = "postgresql://{}:{}@{}:{}/{}".format(
    username,
    password,
    cluster_endpoint,
    port,
    database_name
)

# Test connection
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [25]:
def execute_sql(
        sql_query,
        conn_string,
        print_results = False
    ):
    """Execute a SQL query on the database associated with
       a connection string
    
    Parameters:
    - sql_query : str
        SQL query to execute
    - conn_string : str
        connection string of the format 'postgresql://MasterUsername:MasterUserPassword@ClusterEndpoint:DatabasePort,DatabaseName'
    - print_results : bool
        select if to print query results or not
    """
    
    # Connect to the database
    conn = psycopg2.connect(conn_string)
    
    # Define cursor
    cur = conn.cursor()
    
    # Execute query
    cur.execute(sql_query)
    conn.commit()
    if print_results:
        print(cur.fetchall())

    # Close cursor
    cur.close()
    
    # Close connection
    conn.close()

In [ ]:
# Define S3 client
import boto3
s3 = boto3.client(
    "s3")

# Get object containing file to be staged
obj = s3.get_object(
    Bucket = bucketname,
    Key = f"{data_folder}/{directory_name}/denue.csv"
)

import io
import pandas as pd

# Print colummns info for the dataset
pd.read_csv(io.BytesIO(obj["Body"].read()),  low_memory=False).info()

In [26]:
redshift = boto3.client(
    "redshift",
    region_name = "us-east-1")
clusters = redshift.describe_clusters(
        ClusterIdentifier = cluster_identifier
    )["Clusters"]

for cluster in clusters:
    if cluster["ClusterIdentifier"] ==  cluster_identifier:
        break

cluster_endpoint = cluster["Endpoint"]["Address"]
cluster_endpoint

'redshift-cluster-geodata.ch3hvj0f1a3k.us-east-1.redshift.amazonaws.com'

In [27]:
iam = boto3.client(
    "iam",
    region_name = "us-east-1")
role_arn = iam.get_role(
    RoleName = role_name
)["Role"]["Arn"]
print("Role {}'s ARN is: {}".format(role_name, role_arn))

Role DataEngineer's ARN is: arn:aws:iam::157310664496:role/DataEngineer

In [29]:
!aws sts get-caller-identity
print(role_arn)
data_folder = "data/output"
# Delete existing table named "iris"
sql_query = """DROP TABLE IF EXISTS denue CASCADE"""
execute_sql(sql_query, conn_string)

# Create a new table named "iris"
sql_query = """CREATE TABLE IF NOT EXISTS denue
               (
               id NUMERIC,
               nom_estab VARCHAR,
               per_ocu VARCHAR,
               tipo_vial VARCHAR,
               nom_vial VARCHAR,
               numero_ext NUMERIC,
               letra_ext VARCHAR,
               numero_int NUMERIC,
               letra_int VARCHAR,
               tipo_asent VARCHAR,
               nomb_asent VARCHAR,
               tipoCenCom VARCHAR,
               nom_CenCom VARCHAR,
               num_local VARCHAR,
               cod_postal FLOAT4,
               entidad VARCHAR,
               municipio VARCHAR,
               localidad VARCHAR,
               telefono VARCHAR,
               correoelec VARCHAR,
               www VARCHAR,
               latitud FLOAT4,
               longitud FLOAT4,
               fecha_alta VARCHAR
               )
            """
execute_sql(sql_query, conn_string)

# Define S3 source file path
file_path = f"s3://{bucketname}/{data_folder}/{directory_name}/denue.csv"
print(file_path)

# Copy data
sql_query = """
    COPY denue
    FROM '{}'
    IAM_ROLE '{}' 
    emptyasnull
    blanksasnull    
    REMOVEQUOTES
    delimiter as ','
    IGNOREHEADER 1
    maxerror as 250
    ;
""".format(file_path, role_arn)
execute_sql(sql_query, conn_string)

{
    "UserId": "AROASJIDSH4YPESDEJIVI:SageMaker",
    "Account": "157310664496",
    "Arn": "arn:aws:sts::157310664496:assumed-role/AmazonSageMaker-ExecutionRole-20211013T113110/SageMaker"
}
arn:aws:iam::157310664496:role/DataEngineer
s3://lems-spot-geodata-dev/data/output/2022-05-25/denue.csv

In [31]:
data_folder = "data"

sql_query = """DROP TABLE IF EXISTS targets CASCADE"""
execute_sql(sql_query, conn_string)

sql_query = """CREATE TABLE IF NOT EXISTS targets
               (
               spot VARCHAR,
               direccion VARCHAR,
               latitud FLOAT4,
               longitud FLOAT4
            )
            """
execute_sql(sql_query, conn_string)

# Define S3 source file path
file_path = f"s3://{bucketname}/{data_folder}/targets.csv"
print(file_path)

# Copy data
sql_query = """
    COPY targets
    FROM '{}'
    IAM_ROLE '{}' 
    emptyasnull
    blanksasnull    
    REMOVEQUOTES
    delimiter as ','
    IGNOREHEADER 1
    maxerror as 250
    ;
""".format(file_path, role_arn)
execute_sql(sql_query, conn_string)

s3://lems-spot-geodata-dev/data/targets.csv

In [32]:
sql_query = """DROP VIEW IF EXISTS v_targets CASCADE"""
execute_sql(sql_query, conn_string)

sql_query = """CREATE VIEW v_targets AS
SELECT spot, direccion, latitud as latitud_target, longitud as longitud_target, RADIANS(latitud) as lat_radians, RADIANS(longitud) as long_radians
FROM targets
            """
execute_sql(sql_query, conn_string)

sql_query = """DROP VIEW IF EXISTS v_denue_pizza CASCADE"""
execute_sql(sql_query, conn_string)

sql_query = """CREATE VIEW v_denue_pizza AS
SELECT id, nom_estab, per_ocu, nom_vial, numero_ext, cod_postal, municipio, localidad, latitud as latitud_source, longitud as longitud_source, RADIANS(latitud) as lat_radians_source, RADIANS(longitud) as long_radians_source, fecha_alta FROM denue
WHERE nom_estab LIKE '%PIZZ%'
            """
execute_sql(sql_query, conn_string)

sql_query = """DROP VIEW IF EXISTS v_pizza_dlonlat CASCADE"""
execute_sql(sql_query, conn_string)

sql_query = """CREATE VIEW v_pizza_dlonlat AS
SELECT T.*, T.long_radians-S.long_radians_source as dlon, T.lat_radians-S.lat_radians_source as dlat, S.* FROM v_denue_pizza S, v_targets T
            """
execute_sql(sql_query, conn_string)

sql_query = """DROP VIEW IF EXISTS v_pizza_distances CASCADE"""
execute_sql(sql_query, conn_string)

sql_query = """CREATE VIEW v_pizza_distances AS
SELECT *, pow(sin(dlat / 2),2) + cos(lat_radians_source) * cos(lat_radians) * pow(sin(dlon / 2),2) as a, 2 * asin(sqrt(a)) as c, 6371*c as distance FROM v_pizza_dlonlat
            """
execute_sql(sql_query, conn_string)

sql_query = """DROP VIEW IF EXISTS v_pizza_result"""
execute_sql(sql_query, conn_string)

sql_query = """CREATE VIEW v_pizza_result AS
select spot, direccion, latitud_target, longitud_target, nom_estab, per_ocu, nom_vial, numero_ext, latitud_source, longitud_source, distance, to_date(fecha_alta, 'yyyy-mm') as fecha from v_pizza_distances
where distance < 4 and extract(year from fecha) >= extract(year from CURRENT_DATE)-3
            """
execute_sql(sql_query, conn_string)

print('Done')

Done